* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

footer {
    background-color: #23272a;
    min-height: 450px;
    padding-top: 8px;
    padding-bottom: 20px;
    color: white;
}

/* HEADER */

.firstitle {
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

.firstpar {
    color: white;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    min-height: 70px;
    padding: 10px 0;
    margin: auto;
    max-width: 960px;
}

.menu {
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo:hover {
    background-color: #102a74;
}

.button {
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn {
    border: 0;
    line-height: 2;
    padding: 0 10px;
    border-radius: 12px;
    text-align: center;
}

.btn:hover {
    background-color: lightgray;
}

.link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:calc(100% - 400px);
}

.linknav {
    color: white;
}

.linknav:hover {
    text-decoration: underline;
}

.slogan {
    min-height: 420px;
    padding: 40px 0;
    margin: auto;
    max-width: 800px;
}

.firsttext {
    padding: 0 100px;
}

.btn-download {
    display: flex;
    justify-content: space-around;
}

.big-btn {
    background-color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
}

.big-btn:hover {
    background-color: lightgray;
}

.btn-black {
    color: white;
    background-color: black;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-black:hover {
    background-color: rgb(45, 42, 42);
}

/* MAIN */

.mainpar {
    line-height: 1.5;
    padding-top: 20px;
}

.testo {
    padding: 0px 30px;
}

.imgleft {
    max-width: 500px;
    max-height: 500px;
    margin-right: 170px;
}

.imgright {
    max-width: 500px;
    max-height: 500px;
    margin-left: 170px;
}

.sfondogrigio {
    background-color: #f6f6f6;
}

.paragrafo {
    min-height: 450px;
    padding: 40px 0;
    margin: auto;
    max-width: 960px;
}

.greyparagrafo {
    display: flex;
    flex-direction: row-reverse;
    min-height: 450px;
    padding: 40px 0;
    margin: auto;
    max-width: 960px;
}

.bigparagrafo {
    background-color: #f6f6f6;
    min-height: 800px;
    padding: 40px 0;
    margin: auto;
    max-width: 960px;
}

.bigtesto {
    width: 100%;
    text-align: center;
    padding: 0px 100px;
}

.bigimg {
    display: flex;
    justify-content: center;
}

.big-download {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.flex-btn {
    display: flex;
    justify-content:center;
}

.main-btn {
    color: white;
    background-color: #8ea1e1;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
}

.main-btn:hover {
    background-color: #5a76cf;
}

 /* FOOTER */
.containfoot {
    max-width: 960px;
    margin: auto;
}

.indirizzi {
    display: flex;
    justify-content: space-between;
    min-height: 450px;
    width: 100%;
}

.bigcol {
    padding: 0 30px;
    width: 30%;
}

.footitle {
    color: #7289da;
    padding: 15px 0;
}

ul > li:first-of-type {
    color: #7289da;
    font-weight: bold;
}

ul {
    padding: 15px 0;
    list-style: none;
}

li {
    padding-bottom: 15px;
}

li:hover {
    text-decoration: underline;
}

.lingua {
    padding: 0px 5px;
}

.lingua:hover {
    text-decoration: underline;
}

.italogo {
    width: 20px;
    height: auto;
}

.social-icon {
    padding-top: 20px;
    padding-right: 10px;
}

.multicol {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.col {
    width: 100%;
}


hr {
    color: white;
    margin: 15px 0;
}

.footlogo {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    padding: 12px 0;
}

.register-btn {
    color: white;
    border: 0;
    line-height: 2;
    padding: 2px 10px;
    border-radius: 12px;
    text-align: center;
    background-color: #8ea1e1;
}

.register-btn:hover {
    background-color: #5a76cf;
}