* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

p {
    color: white;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    min-height: 70px;
    padding: 10px 0;
    margin: auto;
    max-width: 960px;
}

.menu {
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 200px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn {
        border: 0;
        line-height: 2;
        padding: 0 5px;
        border-radius: 8px;
        text-align: center;
}

.btn:hover {
    background-color: lightgray;
}

.link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:calc(100% - 400px);
}

.linknav {
    color: white;
}

.linknav:hover {
    text-decoration: underline;
}

.slogan {
    min-height: 420px;
    padding: 40px 0;
    margin: auto;
    max-width: 800px;
}

.firsttext {
    padding: 0 100px;
}

.btn-download {
    display: flex;
    justify-content: space-around;
}

.big-btn {
    background-color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
}

.big-btn:hover {
    background-color: lightgray;
}

.btn-black {
    color: white;
    background-color: black;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-black:hover {
    background-color: rgb(45, 42, 42);
}

.sfondogrigio {
    background-color: #d3d3d3;
}

.paragrafo {
    min-height: 450px;
    padding: 40px 0;
    margin: auto;
    max-width: 960px;
}

.greyparagrafo {
    display: flex;
    flex-direction: row-reverse;
    min-height: 450px;
    padding: 40px 0;
    margin: auto;
    max-width: 960px;
}

.immagine {
    background-color: #1e90ff;
    border: dashed 1px black;
    min-height: 350px;
    width: 60%;
}

.testo {
    background-color: #ffc0cb;
    border: dashed 1px black;
    min-height: 350px;
    width: 40%;
}

.bigparagrafo {
    background-color: #d3d3d3;
    min-height: 800px;
    padding: 40px 0;
    margin: auto;
    max-width: 960px;
}

.bigtesto {
    min-height: 700px;
    background-color: #228b22;
    border: dashed 1px black;
    width: 100%;
}

footer {
    background-color: #23272a;
    min-height: 450px;
    padding-top: 8px;
    padding-bottom: 20px;
}

.containfoot {
    max-width: 960px;
    margin: auto;
}

.indirizzi {
    display: flex;
    justify-content: space-between;
    min-height: 450px;
    width: 100%;
}

.bigcol {
    background-color: #f08080;
    border: dashed 1px black;
    width: 30%;
}

.multicol {
    display: flex;
    justify-content: space-between;
    background-color: #20b2aa;
    border: dashed 1px black;
    width: 70%;
}

.col {
    border: dashed 1px black;
    width: 100%;
}


hr {
    color: white;
    margin: 15px 0;
}

.footlogo {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    background-color: #7fffd4;
    padding: 12px 0;
}

.logo2 {
    background-color: #ffb6c1;
    border: dashed 1px black;
    padding: 2px;
}

.button2 {
    background-color: #ffb6c1;
    border: dashed 1px black;
    padding: 2px;
}